@import "src/styles/variables";

.todo{
  display: grid;
  grid-template-columns: 2rem auto 60px;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(144, 144, 144, 0.16);

  &.completed{
    text-decoration: line-through;
  }

  // ---------- EDIT MOD
  .editSection{
    margin-left: 15px;
    .edit__controls{
      display: grid;
      align-items: center;
      grid-template-columns: auto 50px 50px;
      gap: 1rem;
    }
    .edit__icon{
      width: 30px;
      height: 30px;
    }
  }
  // ---------- EDIT MOD

  &__text{
    margin-left: 15px;
    .text__name{
      color: $whiteColor;
      margin-bottom: 5px;
      font-weight: 500;
    }
    .text__date{
      color: $grayDarker;
      margin-bottom: 5px;
      font-weight: 400;
      letter-spacing: -1px;
    }
  }

  &__deletion{
    .deletion__img{
      width: 25px;
      height: 25px;
    }
    transition: all 200ms ease-in-out;
    opacity: 0;
    .todo:hover &{
      opacity: 1;
    }
  }

}
.completed{
  text-decoration: line-through;
}
