@import "./variables";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-family: $fontFamilyApp;
}

body{
  background-color: $blueColor;
}
.container{
  padding: $containerPaddings;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}